{% load static %}
<div id="feedbackModal" class="modal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content {{theme.bg}}">
            <div class="modal-header text-center">
                <h4 class="modal-title font-weight-bold text-center">Feedback</h4>

            </div>
    
            <div class="modal-body ">
                <h6 class="text-center feedbacklabel">Please provide us your thoughts about the game</h6>
                <div class="form-group">
                    <label for="feedrating"> Rate the game out of 10 </label>                
                    <input class="form-control input-lg" type="text" name="feedrating" id="feedrating" placeholder=""
                    required="required">
                </div>

                <div class="form-group">
                
                    <label for="feedlike"> Did you like the game? What do you think about this game?  </label>
                    <textarea type="textarea" class="form-control form-rounded z-depth-1" id="feedlike" name="feedlike"
                        rows="3" placeholder="Share your thoughts..."></textarea>
                </div>

                <div class="form-group">
            
                    <label for="feeddislike"> What you didn't like about the game or what could be improved to make it better </label>
                    <textarea type="textarea" class="form-control form-rounded z-depth-1" id="feeddislike" name="feeddislike"
                        rows="3" placeholder="Your feedback"></textarea>
                </div>
                <h5 class="text-center"></h5>
                <div>
                    <button type="button" class="btn {{theme.button_primary}} btn-block btn-lg submitfeedback">Submit</button>
                </div>
                
            </div>
            <div class="modal-footer">
                    
            </div>
        </div>
    </div>
</div>