<div id="levelfailModal" class="modal" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content {{theme.bg}}">
                <div class="modal-header text-center">
                    <h4 class="modal-title font-weight-bold text-center">Level Failed!</h4>
                   
                </div>
            
                <div class="modal-body ">
                    <div>
                        <button type="button" class="btn {{theme.button_primary}} btn-block btn-lg retrybtn">Retry</button>
                    </div>
                   
                </div>
                <div class="modal-footer">
                           
                </div>
            </div>
        </div>
    </div>