<div id="lifeEndModal" class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content {{theme.bg}}">
                <div class="modal-header text-center">
                    <h4 class="modal-title font-weight-bold text-center">Game Ended!</h4>

                </div>

                <div class="modal-body ">


                    <div class="text-center infotxt">
                        You have 0 life left : (
                    </div>
                    <br>

                    <div>
                        <button type="button" class="btn {{theme.button_primary}} btn-block btn-lg restartbtn">Restart</button>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>